.header h1 {

    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 66px;
    color: #2E282C;
  
  }
  
  .select ul {
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-end: 2.5em;
  }
  
  .select ul li {
    display: inline;
    padding-right: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
  }
  
  .select ul li  select{
    width: 200px;
    border-radius: 6px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
  }